/* INCLUDE FONTS */

@font-face {
  font-family: MuseoSans900;
  src: url("../assets/fonts/MuseoSans_900.otf");
}

@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: Parisienne;
  src: url("../assets/fonts/Parisienne-Regular.ttf");
}

@font-face {
  font-family: Sacramento;
  src: url("../assets/fonts/Sacramento-Regular.ttf");
}

/* GLOBAL TAGS */

html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden !important;
}

#root {
  height: 100%;
  background: url("../assets/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

#header {
  text-align: center;
  font-weight: bold;
}

#music_player {
  opacity: 0.5;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  border-radius: 50%;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.7);
}

#music_player:hover {
  cursor: pointer;
  transform: scale(1.03);
}


#pauseMusic {
  display: none;
}

/* LANDING PAGE */

#root {
  height: 100%;
  background: url("../assets/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

#header {
  text-align: center;
  font-weight: bold;
}

#name {
  padding: 1em;
  padding-bottom: 0;
  font-size: 45px !important;
  font-family: Sacramento !important;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px coral;
  color: #fff;
}

#quote {
  font-size: 20px !important;
  font-family: Parisienne !important;
  margin: 1em auto;
  margin-bottom: 0;
  transform: translateX(100px);
  font-weight: 500 !important;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px coral;
  color: #ddd;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 650px) {
  #root {
    height: 100%;
    background: url("../assets/images/bg.jpg") no-repeat left fixed;
    background-size: cover;
  }

  #header {
    transform: scale(0.8);
  }
}