/* INCLUDE FONTS */

@font-face {
  font-family: MuseoSans900;
  src: url("../assets/fonts/MuseoSans_900.otf");
}

@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: Parisienne;
  src: url("../assets/fonts/Parisienne-Regular.ttf");
}

@font-face {
  font-family: Sacramento;
  src: url("../assets/fonts/Sacramento-Regular.ttf");
}

/* GLOBAL STYLE */

html, body, #content {
  margin: 0;
  height: 100vh;
  overflow: hidden !important;
  background-color: rgb(20, 20, 20);
}

#wallpaper {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../assets/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: blur(2px);
}

#overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(70, 40, 10);
  opacity: 0.2;
}

#music_player, #nav_menu {
  opacity: 0.5;
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 1;
  border-radius: 50%;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.7);
}

#round_button {
  opacity: 0.5;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 #555;
  padding: 3px;
  margin-right: 5px;
}

#music_player:hover, #nav_menu:hover,
#round_button:hover, #menu_list>li:hover
 {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.03);
} 

#pauseMusic {
  display: none;
}

#nav_menu {
  top: 120px;
  padding: 7px;
}

#menu_list {
  display: none;
  position: absolute;
  top: 190px;
  left: 20px;
  list-style-type: none;
  font-size: 25px;
  font-family: Parisienne;
  color: #fff;
  text-shadow:1px 1px 5px #fafafa, 1px 1px 5px #fea;
}

#menu_list > li {
  opacity: 0.7;
}

#menu_list > li:nth-child(even) {
  margin: 20px;
  padding-left: 35px;
}

#round_button img {
  transform: scale(0.6);
}
/* LANDING PAGE */

#header {
  text-align: center;
  font-weight: bold;
  padding-right: 10em;
}

#name {
  padding: 1em;
  padding-bottom: 0;
  font-size: 45px !important;
  font-family: Sacramento !important;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px coral;
  color: #fff;
}

#quote {
  font-size: 20px !important;
  font-family: Parisienne !important;
  margin: 1em auto;
  margin-bottom: 0;
  transform: translateX(100px);
  font-weight: 500 !important;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px coral;
  color: #ddd;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 650px) {
  #root {
    height: 100%;
    background: url("../assets/images/bg.jpg") no-repeat left fixed;
    background-size: cover;
  }

  #header {
    transform: scale(0.8);
    padding-left: 5em;
  }

  #menu_list {
    transform: scale(0.8);
  }
}